@model  string
@{
    ViewBag.Title = "DisplayToken";

}
@*<a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>*@
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet">

<h2>DisplayToken</h2>

@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TOKEN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
<style>
    .modal-body {
        width: 80%;
        margin: auto;
        background: #dddddd;
        box-shadow: 2px 0 2px 2px #dddddd;
        padding: 30px;
        margin-top: 30px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div class="modal-body">
    <label for="token"><b>token</b></label>
    <input type="text" style=" width: 100%" id="token" placeholder="Enter your token" name="token" required>
</div>
<div class="modal-footer">
    @*<a type="button" href="@Url.Action("Index","Notification")"  style="margin-top:10px"class="btn btn-secondary" data-dismiss="modal">return</a>*@
    <input type="button"
           style="margin-top:10px"
           class="btn btn-primary"
           value="send"
           onclick="onlick_Send(@Model.ToString())" />
</div>


<script>
    function onlick_Send(ID) {
        //alert(ID);
        var _token = document.getElementById("token").value;
        alert(_token);

        $.ajax(
            {
                type: "POST",
                url: "/Notification/SendPush",

                data: { 'id': ID, 'token': _token }
            });

    }
</script>



